 .parallax {
  /* The image used */
  background-image: url("../images/projects/pkm_laboratory.jpg");
  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax a{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10vw;
  background-color: var(--accent-color);
  font-size: 2.7vh;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.content-box{
  height:100vh;
  background-color: var(--primary-color);
}
