/* TODO - darkmode */
/* https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/ */
/* https://css-tricks.com/a-guide-to-the-responsive-images-syntax-in-html/ */

/* Main page */
html { 
	scroll-snap-type: y mandatory;
}
.content{
	display: flex;
	flex-direction: column;
}

section {
	margin-left:5%;
	margin-right:5%;
	height: 100vh;
	box-sizing: content-box;
	scroll-snap-align: start;
}

/* Welcome - Mosaic*/
.mosaic{
	margin-left: 10%;
	margin-top: 2%;
	display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: repeat(5, 8vw);
    grid-gap: 15px;
}

.tile{
	width: 100%;
    height: 100%;
    object-fit: cover;
	background-color: transparent;
	perspective: 1000px;
}
.flipping-box{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--dark-primary-color);
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.24);
}
.tile:hover .flipping-box{
	transform: rotateY(180deg);
}
.front-tile, .back-tile{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}
.front-tile img{
	width: 100%;
	height: 100%;
 	backface-visibility: hidden;
}

.back-tile{
	background-color: var(--dark-primary-color);
	transform: rotateY(180deg);
}
.tile-image img{
	width: 100%;
	height:100%;
	object-fit: cover;
 	display: block;
 	backface-visibility: hidden;
}
.left-upper-tile{
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.right-upper-tile{
	grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.right-lower-tile{
	grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.left-lower-tile{
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.big-middle-tile{
	grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

.right-middle-tile{
	grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}

.left-vertical-tile{
	grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.right-vertical-tile{
	grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
}

.main-title{
	grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
   	display: inline;
}

/* Skills */
.skills{
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.skills-graph{
	margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 15px;
}

.skill-bar{
	grid-row: 1 / -2;
	background: var(--accent-color);
	justify-self: center;
	width: 20%;
	height: 100%;
	grid-column: var(--n);
	box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.24);
}

.skill-bar-filled-animation{
	width: 100%;
	background-color: var(--light-primary-color);
	animation-name: skill-bar-anim;
	animation-iteration-count: 1;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}


@keyframes skill-bar-anim{
  from{
    height: 100%;
  }
  
  to{
  	height: calc(100% - var(--h));
  }
}

/* graph  labels */
.graph-y-label {
    grid-column: 1;
    justify-self: center;
    color: var(--text-color);
}
.graph-x-label {
    justify-self: center;
    margin-top: 6px;
    color: var(--text-color);
}

/* Projects*/
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(150px, auto);
	gap: 5%;
	padding-left:10%;
	padding-right:10%;
}

.card{
	display: flex;
    flex-direction: column;
    background: var(--dark-primary-color);
	border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.24);
}
.card_caption{
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.card img {
	max-width: 100%;
	max-height: 80%; 
	filter: grayscale(1);
}
.card:hover img{
	filter: grayscale(0);
}
.content a{
	text-align:center;
}

/* Articles*/

.articles{
	font-size:200%;
	margin-left:10%;
	margin-right:10%;
}
.articles ul{
	list-style:upper-roman;
	text-align: center;
	color: var(--text-color);
}
.articles ul li{
	font-size:40px;
}

.footer{

}