html, body {
	font-family: Lato, sans-serif;
	scroll-behavior: smooth;
	line-height:1.6;
	margin:0;
} 

:root[color-scheme="light"]{
	--font-weight: 500;
	--text-color: #FFFFFF;
	--secondary-text-color: #757575;
	--dark-primary-color: #0097A7;
	--light-primary-color: #B2EBF2;
	--primary-color: #00BCD4;
	--accent-color: #536DFE;
	--divider-color: #BDBDBD;
}
:root[color-scheme="dark"]{
	--font-weight: 300;
	--text-color: #FFFFFF;
	--secondary-text-color: #757575;
	--dark-primary-color: #455A64;
	--light-primary-color: #CFD8DC;
	--primary-color: #607D8B;
	--accent-color: #03A9F4;
	--divider-color: #BDBDBD;
}

body {
	font-weight: var(--font-weight);
	background: var(--primary-color);
}
:root[color-scheme="light"] .light--hidden {
	display: none;
}

:root[color-scheme="dark"] .dark--hidden {
	display: none;
}

h1, h2, h3, h4, h5, h6, p ,a{
  color: var(--text-color);
}
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
	--font-weight: 300;
	--text-color: #FFFFFF;
	--secondary-text-color: #757575;
	--dark-primary-color: #455A64;
	--light-primary-color: #CFD8DC;
	--primary-color: #607D8B;
	--accent-color: #03A9F4;
	--divider-color: #BDBDBD;
}
@media (prefers-color-scheme: light) {
	--font-weight: 500;
	--text-color: #FFFFFF;
	--secondary-text-color: #757575;
	--dark-primary-color: #0097A7;
	--light-primary-color: #B2EBF2;
	--primary-color: #00BCD4;
	--accent-color: #536DFE;
	--divider-color: #BDBDBD;
}
h1, h2, h3, h4, h5, h6{
	text-align: center;
}
/* Header stuff */
.site-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
	position: fixed;
	width: 100%;
	background-color: var(--dark-primary-color);
	z-index:1000;
	box-shadow: 0 3px 5px rgba(0,0,0,0.24);
}

.site-header a {
    transition: all 1000ms ease-in-out;
}

.site-header h3 {
	flex:1 1 0;
}

.site-header img{
	max-width: 5%;
	max-height: 5%; 
	width: auto;
    height: auto;
	border-radius: 25%;  
}

.site-header ul {
	list-style-type: none;
	display: flex; 
	flex-wrap: wrap;    
	justify-content: space-evenly;
    align-items: stretch;
    margin:0;
	flex:1 1 0;
}


.site-header ul li {
	display: flex;
	flex:1 1 0;

}

.site-header li a {
	display: flex;
	text-decoration: none;
	align-items: flex-end;
	flex:1 1 0;
}

.site-header li a.active {
	background-color: var(--accent-color);
	color: var(--text-color);
}

.site-header li a:hover:not(.active) {
  background-color: var(--light-primary-color);
}

.btn-mode-toggle{
	background-color: transparent; 
	border: none;
}
/* Added padding for scrolling */
.anchor { 
	padding-top: 5%; 
}


.social-media-bar {
	position: fixed;
	top: 40%;
	width: auto;
	min-width: 10vh;
	min-height: 10vh;
	box-shadow: 0 3px 5px rgba(0,0,0,0.24);
}

.social-media-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	min-height: 5vh;
	color: var(--text-color);
	background: var(--dark-primary-color);
	font-size: 20px;
}

.social-media-bar a:hover {
	background: var(--accent-color);
}

.content{
	display: flex;
    flex-direction: column;
}
