html, body {
	font-family: Lato, sans-serif;
	background-color: #ffD9B3;
	scroll-behavior: smooth;
	line-height:1.6;
} 
h1, h2, h3, h4, h5, h6{
	text-align: center;
	color: black;
}
p, a{
	color: black;
}
