html, body {
	font-family: Lato, sans-serif;
	background-color: #ffD9B3;
	scroll-behavior: smooth;
	line-height:1.6;
	margin:0;
} 
:root[theme="light-theme"]{
	--text-color: black;
	--main-color: #ffD9B3;
	--secondary-color: #FFC081;
	--tertiary-color: #ffA650;
	--quaternary-color: #fff0E0;
}
:root[theme="dark-theme"]{
	--text-color: white;
	--main-color: #262626;
	--secondary-color: #333333;
	--tertiary-color: #404040;
	--quaternary-color: #eeeeee;
}

body {
  background: var(--main-color);
}
:root[theme="light-theme"] .light--hidden {
	display: none;
}

:root[theme="dark-theme"] .dark--hidden {
	display: none;
}

h1, h2, h3, h4, h5, h6, p ,a{
  color: var(--text-color);
}
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
	--text-color: white;
	--main-color: #262626;
	--secondary-color: #333333;
	--tertiary-color: #404040;
	--quaternary-color: #eeeeee;
  }
  body.light-theme {
	--text-color: black;
	--main-color: #ffD9B3;
	--secondary-color: #FFC081;
	--tertiary-color: #ffA650;
	--quaternary-color: #fff0E0;
  }
}
h1, h2, h3, h4, h5, h6{
	text-align: center;
}
/* Header stuff */
.site-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
	position: fixed;
	width: 100%;
	background-color: var(--secondary-color);
	z-index:1000;
	box-shadow: 0 3px 5px rgba(0,0,0,0.24);
}

.site-header button {
}

.site-header h3 {
	flex:1 1 0;
}

.site-header img{
	max-width: 5%;
	max-height: 5%; 
	width: auto;
    height: auto;
	border-radius: 25%;  
}

.site-header ul {
	list-style-type: none;
	display: flex; 
	flex-wrap: wrap;    
	justify-content: space-evenly;
    align-items: stretch;
    margin:0;
	flex:1 1 0;
}

.site-header ul li {
	display: flex;
	flex:1 1 0;

}

.site-header li a {
	display: flex;
	text-decoration: none;
	align-items: flex-end;
	flex:1 1 0;
}

.site-header li a.active {
  background-color: var(--tertiary-color);
  color: white;
}

.site-header li a:hover:not(.active) {
  background-color: var(--main-color);
  color: white;
}

.btn-mode-toggle{
	background-color: transparent; 
	border: none;
}
/* Added padding for scrolling */
.anchor { 
	padding-top: 5%; 
}

.content{
	display: flex;
    flex-direction: column;
}
